BOT_TOKEN=
MONOBANK_TOKEN=
MONOBANK_JAR_NAME=test
MONOBANK_INTERVAL=60
AUTO_APPROVE_DELAY=120
SESSION_EXPORT_DIR=session_exports
STATS_CSV_PATH=session_stats.csv
SESSION_STATE_FILE=session_state.json
